*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif !important;
	/* Show it is fixed to the top */
	/*min-height: 75rem;
	padding-top: 4.5rem;*/
}
main{
	/* Show it is fixed to the top */
	height: 89px;
}
body header nav{
	background-color: #12bbad;
	height: 90px;
}
body header nav .navbar-brand span{
	color: #fff;
}
body header nav ul{
	background-color: #12bbad!important;
}
body header nav ul li a:hover{
	background-color: #26CDFC!important;
}
body header nav ul li .danger:hover{
	background-color: #8a092e!important;
}
.carousel-item img	{
	min-width: 100%;
	max-height: 80vh;
}
.about_img	{
	min-width: 100%;
	max-height: 320px ;
}

footer .upper-footer{
	background-color: #12bbad;
}

footer .upper-footer a{
	text-decoration: none;
	color: #fff;
}

footer .upper-footer a:hover{
	color: #8a092e;
}








/*responsive css  code */
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }




